@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);

  font-family: var(--font-sans);
 /* width: 100%; */
 /*   height: 100%; */
  /* min-height: 100vh;
  position: relative; */
}

.main-content{
  /* min-height: 100vh; */
  /* height: 100%; */
  /* position: relative; */
  /* display: flex;
  width: 100%; */
  /* border: 1px solid black; */

}
/* header {
  @apply font-semibold cursor-pointer;
  border: 1px solid black;
  min-height: 100vh;
  height: 100%;
  position: absolute;


} */

.sidebar-top{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;

  /* margin-left: auto;
  margin-right: auto; */
}
.sidebar-li a{
display: flex;
gap: 10px;
width: fit-content;
font-weight: 500;
text-wrap: nowrap;
cursor: pointer;
 @apply  text-gray-900 hover:scale-110 transition-all duration-300 ease-in-out hover:text-gray-400;
}

.sidebar-li{
  padding: 0rem 1rem 0rem 1rem;
font-size: 1rem;
}
.sidebar-li-mobile{
  padding: 0rem 1rem 0rem 1rem;
font-size: .7rem;
color:rgba(72, 6, 143, 0.8);
font-weight: 600;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
cursor: pointer;

}
.sidebar-li-mobile .active {
  background-color: rgba(72, 6, 143);
  color:white;
  border-radius: 50%;
  top:-20px;
}
.nav-item {
  width: 50px;    /* fixed width */
  height: 50px;   /* fixed height → now a perfect circle */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  color: rgba(72, 6, 143, 0.8);
}
.nav-item.active {
  background: linear-gradient(to right bottom, #591c96, #d90673);
   color: white;
  transform: translateY(-12px); /* lifts it up a bit */
}


.menu-button-open {
 cursor:pointer;
 border-radius: 50%;
 rotate:0deg;
 width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 position:absolute;
 top: 60;
 right: -40;
 z-index: 100;
 transition: all 0.3s ease-in-out;
 }

 .menu-button-open:hover {
 transform: scale(1.1);
 }

 .menu-button-close {
 cursor:pointer;
 border-radius: 50%;
 rotate:180deg;
 width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 position:absolute;
 top: 66;
 right: -40;
 z-index: 100;
 transition: all 0.3s ease-in-out;
 }

 .menu-button-close:hover {
 transform: scale(1.1);
 }
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"]
{
     @apply  px-2  text-sm text-gray-600  flex justify-center items-center gap-3;
     @apply focus:outline-none  focus:border-transparent ;
}

label{
   @apply  px-3 text-sm text-gray-500 text-sm flex justify-start items-center gap-3 text-nowrap;

}
p{
  font-size: 12px;
}

.formFields{
    @apply  bg-white rounded-full px-4 text-sm text-gray-500 border border-gray-100 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-transparent mt-0 mb-3;
    @apply  py-2 px-4 border-2 border-gray-200 ;

}
button[type="submit"] .auth-button{
    @apply rounded-full bg-gradient-to-r from-black to-yellow-800 px-4 py-2 cursor-pointer text-white font-semibold hover:scale-110 transition-all duration-300 w-full ease-in-out;
}

button[type="button"]{
    @apply rounded-full border border-yellow-600 px-4 py-2 cursor-pointer text-white font-semibold hover:scale-110 transition-all duration-300 w-full ease-in-out;
}
select
{
    @apply bg-white rounded-full px-4 text-sm text-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-200 focus:border-transparent mt-0 mb-3;
    @apply w-full py-2 px-4 border-2 border-gray-200 ;
}


input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled
{
    @apply bg-gray-100 rounded-full px-4 text-sm text-gray-400 ;
    @apply cursor-not-allowed
}

.settings-page p{
  font-size: 14px;
  color: #888
}
.dashboard-page p{
   font-size: 14px;
  color: #888;
}

.inf-dash-top{
  padding: 1rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right bottom, #8217ed, #6c8cc8);
}
.inf-dash-top div{
  color: rgba(251, 248, 255, 0.8)
}
.scanner{
  border: 5px solid red;
}
.settings-form-container{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;

}
.text-error{
  color:red;
  font-size:17px;
  font-weight:400;

}
.switch-container .switch-text{
  font-size:14px;

     @apply text-sm text-gray-900 text-sm flex justify-start items-center gap-3 text-nowrap;

}
.switch-container .switch-subtext{
  font-size:12px;
     @apply text-sm text-gray-500 text-sm flex justify-start items-center gap-3 text-nowrap;

}

/* scroll bar  */
/* Elegant scrollbar styling */

  ::-webkit-scrollbar {
  width: 8px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #c7c7c7, #888);
  border-radius: 100px;


}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #a0a0a0, #666);
}


