@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
 
  font-family: var(--font-sans);
}

header {
  @apply font-semibold cursor-pointer;
}

nav li{
    @apply hover:scale-110 transition-all duration-300 ease-in-out;

}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"]
{
     @apply  px-2  text-sm text-gray-600  flex justify-center items-center gap-3;
     @apply focus:outline-none  focus:border-transparent ;
}

label{
   @apply  px-2  text-sm text-gray-500  flex justify-center items-center gap-3;
   
}
p{
  font-size: 12px;
}

.formFields{
    @apply bg-white rounded-full px-4 text-sm text-gray-500 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-transparent mt-0 mb-3;
    @apply  py-2 px-4 border-2 border-gray-200 ;

}
button[type="submit"]{
    @apply rounded-full bg-gradient-to-r from-black to-yellow-800 px-4 py-2 cursor-pointer text-white font-semibold hover:scale-110 transition-all duration-300 w-full ease-in-out;
}

button[type="button"]{
    @apply rounded-full border border-yellow-600 px-4 py-2 cursor-pointer text-white font-semibold hover:scale-110 transition-all duration-300 w-full ease-in-out;
}
select
{
    @apply bg-white rounded-full px-4 text-sm text-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-200 focus:border-transparent mt-0 mb-3;
    @apply w-full py-2 px-4 border-2 border-gray-200 ;
}


input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled
{
    @apply bg-gray-100 rounded-full px-4 text-sm text-gray-400;
    @apply cursor-not-allowed
}


